.project-article {
    margin: 0 40px;
}

.project-article-image-container {
    width: 100%;
    border: 1px solid;
    height: 208px;
    margin-bottom: 60px;
    padding: 9px;
    border-radius: 5px;
    position: relative;
}

.project-article-image {
    height: 100%;
    width: 100%;
}

.day {
    color: #383838;
    float: left;
    font-size: 50px;
    padding-right: 20px;
    position: relative;
}

.day::before {
    border-right: 1px solid;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewX(-20deg);
}

.month {
    color: #383838;
    float: left;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 23px;
}

.year {
    color: #333;
    font-size: larger;
}

.project-article-body-heading {
    color: #383838;
    font-size: 20px;
    font-weight: 600;
}

.project-article-body-description {
    color: #444444;
    font-size: 14px;
}

.project-article-more-button {
    border: 1px solid #fff;
    color: #000;
    display: inline-table;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 23px;
    text-decoration: none;
    background: #fff;
}

.project-article-more-button:hover {
    border: 1px solid #ffc259;
    color: #fff;
    display: inline-table;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 23px;
    background: none;
    transition: all 0.45s ease 0s;
}

.here-link {
    color: #333;
    text-decoration: none;
}

.here-link:hover {
    color: darkcyan;
    font-weight: 400;
    transition: all 0.45s ease 0s;
    text-decoration: underline;
}

@media all and (min-width: 1700px) {
    .month {
        font-size: 30px;
    }

    .year {
        font-size: 30px;
    }

    .project-article-body-description {
        font-size: 24px;
    }

    .project-article-body-heading {
        font-size: 22.5px;
    }

    .project-article-more-button {
        font-size: 24px;
    }

    .project-article-image-container {
        height: 420px
    }
}

@media all and (max-width: 1200px) {
    .day {
        font-size: 30px;
    }

    .month {
        font-size: 16px;
    }

    .year {
        font-size: 16px;
    }

    .project-article-body-heading {
        font-size: 14px;
    }

    .project-article-more-button {
        font-size: 14px;
    }
}

@media all and (max-width: 950px) {
    .project-article-body-heading {
        font-size: 14px;
        margin-top: 40px;
    }
}

@media all and (max-width: 820px) {
    .project-article-body-heading {
        font-size: 16px;
    }

    .project-article-image-container {
        width: 60%;
        height: 280px;
        margin: 60px auto;
    }
}

@media all and (max-width: 480px) {
    .project-article-image-container {
        width: 60%;
        height: 220px;
    }
}

@media all and (max-width: 380px) {
    .project-article-image-container {
        width: 80%;
    }
}