.projects {
    background: #ffa100;
    color: #fff;
    overflow: hidden;
    padding: 100px 0 220px;
    transition: all 0.35s ease 0s;
    position: relative;
}

.projects::before {
    background: #333 none repeat scroll 0 0;
    content: "";
    height: 40%;
    left: 10px;
    position: absolute;
    top: -205px;
    transform: skewX(110deg);
    width: 100%;
}

.projects-title {
    text-align: center;
    padding-bottom: 70px;
    position: relative;
}

.projects-title h2 {
    font-size: 30px;
}

.project-cards-section {
    display: flex;
}