.about-me-section {
    display: flex;
    height: 25vh;
    max-height: 25vh;
    margin-bottom: 119px;
}

.about-me-article {
    padding: 20px 15px 20px 140px;
    line-height: 1.5;
}

.about-me-article-heading {
    text-align: center;
    font-size: 30px;
}

.about-me-article-heading::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 2.5px;
    position: absolute;
    width: 37.5%;
    left: 20%;
    bottom: 45%;
}

.about-me-article-heading::after {
    background: #ffa100 none repeat scroll 0 0;
    content: "";
    height: 2.5px;
    position: absolute;
    width: 37.5%;
    right: 5%;
    bottom: 45%;
}

.about-me-article-story {
    text-align: left;
}

.about-me-picture-container {
    padding-right: 140px;
}

.about-me-article p {
    margin: 12px;
}

@media all and (min-width: 1847px) {
    .about-me-article {
        font-size: 35px;
    }

    .about-me-article-heading {
        font-size: 45px;
    }

    .about-me-article-heading::after {
        height: 4.5px;
        width: 43%;
        bottom: 65%;
    }

    .about-me-article-heading::before {
        height: 4.5px;
        width: 44%;
        left: 8%;
        bottom: 65%;
    }

    .about-me-picture-container {
        width: 100%;
        height: 132%;
    }

    .about-img {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 1846px) and (min-width: 1500px) {
    .about-me-article {
        font-size: 30px;
    }

    .about-me-article-heading {
        font-size: 45px;
    }

    .about-me-article-heading::after {
        height: 4.5px;
        width: 43%;
        bottom: 65%;
    }

    .about-me-article-heading::before {
        height: 4.5px;
        width: 44%;
        left: 8%;
        bottom: 65%;
    }

    .about-me-picture-container {
        width: 100%;
        height: 132%;
    }

    .about-img {
        width: 132%;
        height: 100%;
    }
}

@media all and (max-width: 1263px) {
    .about-me-article {
        font-size: 16px;
    }

    .about-me-article-heading {
        font-size: 20px;
    }

    .about-me-picture-container {
        width: 100%;
        height: 180%;
        padding-right: 15px;
    }

    .about-img {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 820px) {
    .about-me-section {
        flex-direction: column;
    }

    .about-me-article {
        font-size: 15px;
        padding: 20px;
    }

    .about-me-article-heading {
        font-size: 18px;
    }

    .about-me-picture-container {
        padding: 0;
        height: 150%;
    }

    .about-me-article-heading::after {
        height: 2px;
        width: 46%;
        bottom: 70%;
    }

    .about-me-article-heading::before {
        height: 2px;
        width: 46%;
        left: 4%;
        bottom: 70%;
    }
}

@media all and (max-width: 564px) {
    .about-me-article {
        font-size: 12px;
    }

    .about-me-article p {
        margin: 0;
    }
}

@media all and (max-width: 380px) {
    .about-me-article-heading::after {
        bottom: 75%;
    }

    .about-me-article-heading::before {
        bottom: 75%;
    }
}