.about-me-skills-section {
    background: url(../../../public/assets/images/services-bg.jpg) no-repeat scroll center bottom / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    height: 120vh;
}

@media all and (max-width: 820px) {
    .about-me-skills-section {
        flex-direction: column;
    }
}