.skills-card {
    width: 280px;
    min-width: 250px;
}

.skills-card-icon-container {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #000;
    font-size: 51px;
    height: 100px;
    line-height: 104px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: 45px;
    left: 20px;
    z-index: 1;
}

.skills-card-header {
    color: #fff;
    padding: 50px 0 50px;
    text-align: center;
    overflow: hidden;
    position: relative;
    max-height: 180px;
    font-size: 18px;
}

.skills-card-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    left: 0;
    top: -20px;
    transform: skewY(171.5deg);
}

.skills-card-body {
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
    position: relative;
    text-align: center;
    height: 350px;
    overflow: hidden;
    font-size: 15px;
    padding: 20px;
}

.skills-card-ul {
    max-height: 209px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    line-height: 1.5;
}

.skills-card-ul::-webkit-scrollbar {
    width: 5px;
}

.skills-card-ul::-webkit-scrollbar-track {
    background: whitesmoke;
}

.skills-card-ul::-webkit-scrollbar-thumb {
    background: #ff8500;
}

.skills-card-ul li {
    text-align: center;
}

.skills-card-footer::after {
    content: "";
    height: 60px;
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 303px;
    transform: skewY(-5.5deg);
    width: 100%;
}

.greenCard {
    background: #3ec441;
}

.greenCard::after {
    background: #08ac0d;
}

.orangeCard {
    background: #ff8500;
}

.orangeCard::after {
    background: #da7104;
}

.blueCard {
    background: #0195ff
}

.blueCard::after {
    background: #0482d9;
}

.bordoCard {
    background: #ff6100;
}

.bordoCard::after {
    background: #cf5105;
}

@media all and (min-width: 1700px) {
    .skills-card-body {
        height: 500px;
        font-size: 17px;
    }

    .skills-card-ul {
        max-height: 330px;
    }

    .skills-card-footer::after {
        top: 455px;
    }
}

@media all and (min-width: 1800px) {
    .skills-card {
        width: 350px;
        min-width: 350px;
    }

    .skills-card-header {
        font-size: 26px;
        max-height: 240px;
    }

    .skills-card-body {
        height: 490px;
        font-size: 22px;
    }

    .skills-card-footer::after {
        top: 450px;
    }

    .skills-card-ul {
        max-height: 330px;
    }
}

@media all and (min-width: 2400px) {
    .skills-card {
        width: 450px;
        min-width: 450px;
    }

    .skills-card-header {
        font-size: 28px;
        max-height: 240px;
    }

    .skills-card-body {
        height: 700px;
        font-size: 25px;
    }

    .skills-card-footer::after {
        top: 665px;
    }

    .skills-card-ul {
        max-height: 490px;
    }

    .skills-card-ul-heading {
        margin: 5px 0 10px 0;
        color: red;
    }
}

@media all and (max-width: 1446px) {
    .skills-card {
        width: 220px;
        min-width: 220px;
    }

    .skills-card-footer::after {
        height: 60px;
        bottom: 0px;
        right: 0px;
        top: 303px;
    }

    .skills-card-ul {
        max-height: 200px;
    }
}

@media all and (max-width: 960px) {
    .skills-card {
        width: 200px;
        min-width: 200px;
    }
}

@media all and (max-width: 820px) {
    .skills-card {
        width: 300px;
        min-width: 300px;
    }

    .skills-card-footer::after {
        top: 305px;
    }
}

@media all and (max-width: 430px) {
    .skills-card {
        width: 200px;
        min-width: 200px;
    }

    .skills-card-footer::after {
        top: 305px;
    }

    .skills-card-icon-container {
        font-size: 40px;
        height: 80px;
        line-height: 80px;
        width: 80px;
        top: 45px;
    }

    .skills-card-heading {
        font-size: 20px;
    }

    .skills-card-header {
        max-height: 150px;
    }

    .skills-card-ul {
        max-height: 208px;
    }
}