#about-me {
    overflow: hidden;
}

.about-me-section {
    display: flex;
    height: 35vh;
}

.about-me-article {
    padding: 10px 30px 0px 80px;
    line-height: 1.5;
    height: 100%;
}

.about-me-article-heading {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.about-me-article-heading::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 2.5px;
    position: absolute;
    width: 44.5%;
    left: 9.5%;
    bottom: 75%;
}

.about-me-article-heading::after {
    background: #ffa100 none repeat scroll 0 0;
    content: "";
    height: 2.5px;
    position: absolute;
    width: 41.5%;
    right: 5%;
    bottom: 75%;
}

.about-me-article-story {
    text-align: left;
}

.about-me-animation-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-right: 80px;
}

.about-me-picture-container {
    height: 100%;
    width: 100%;
}

.about-img {
    width: 100%;
    height: 100%;
}

@media all and (min-width: 1847px) {
    .about-me-article {
        font-size: 24px;
    }

    .about-me-article-heading {
        font-size: 37px;
    }

    .about-me-article-heading::after {
        height: 4px;
        width: 44%;
        bottom: 75%;
    }

    .about-me-article-heading::before {
        height: 4px;
        width: 46%;
        left: 6.5%;
        bottom: 75%;
    }
}

@media all and (min-width: 2300px) {
    .about-me-article {
        font-size: 26px;
    }

    .about-me-article-heading {
        font-size: 44px;
    }

    .about-me-article-heading::after {
        height: 4.5px;
        width: 44%;
        bottom: 79%;
    }

    .about-me-article-heading::before {
        height: 4.5px;
        width: 46%;
        left: 5.5%;
        bottom: 79%;
    }
}

@media all and (max-width: 1840px) and (min-width: 1500px) {
    .about-me-article {
        font-size: 20px;
    }

    .about-me-article-heading {
        font-size: 25px;
    }

    .about-me-article-heading::after {
        width: 42%;
        bottom: 80%;
    }

    .about-me-article-heading::before {
        width: 45%;
        left: 8%;
        bottom: 80%;
    }
}

 @media all and (max-width: 1200px) {
    .about-me-section {
        height: 40vh;
    }

    .about-me-article {
        font-size: 16px;
    }

    .about-me-article-heading {
        font-size: 20px;
    }

    .about-me-animation-container {
        margin-right: 40px;
        min-width: 320px;
    }

    .about-me-article {
        padding: 10px 30px 0px 40px;
    }

    .about-me-article-heading::after {
        width: 44%;
        bottom: 80%;
    }

    .about-me-article-heading::before {
        width: 46%;
        left: 6%;
        bottom: 80%;
    }
}

@media all and (max-width: 920px) {
    .about-me-article {
        font-size: 15px;
    }

    .about-me-article-heading {
        font-size: 18px;
    }

    .about-me-article-heading::before {
        left: 8%;
    }
}

@media all and (max-width: 875px) {
    .about-me-section {
        flex-direction: column;
    }

    .about-me-article {
        padding: 20px 40px 0px 40px;
    }

    .about-me-article-heading::after {
        height: 2.5px;
        width: 45%;
        bottom: 75%;
    }

    .about-me-article-heading::before {
        height: 2.5px;
        width: 45%;
        left: 5%;
        bottom: 75%;
    }

    .about-me-animation-container {
        min-height: 200px;
    }
}

@media all and (max-width: 585px) {
    .about-me-article {
        font-size: 12px;
    }

    .about-me-article-story {
        margin-bottom: 5px;
    }

    .about-me-article-heading::after {
        height: 2px;
        width: 45%;
        bottom: 70%;
    }

    .about-me-article-heading::before {
        height: 2px;
        width: 45%;
        left: 7%;
        bottom: 70%;
    }
}

@media all and (max-width: 480px) {
    .about-me-article-heading::after {
        bottom: 76%;
    }

    .about-me-article-heading::before {
        left: 8%;
        bottom: 76%;
    }
}

@media all and (max-width: 375px) {
    .about-me-section {
        height: 50vh;
    }

    .about-me-article {
        padding: 15px;
    }

    .about-me-article-heading::after {
        bottom: 80%;
    }

    .about-me-article-heading::before {
        left: 5%;
        bottom: 80%;
    }
}